body {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #181818;
  
  
  }
  .card {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 160px 190px 80px;
    grid-template-areas: "image" "text" "stats";
    border-radius: 18px;
    background: #181818;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
    font-family: sans-serif;
    text-align: center;
    color:white;
  }
  body:-webkit-scrollbar{
      display: none;
  }
  .image {
    grid-area: image;
  }
  .text {
    grid-area: text;
  }
  .stats {
    grid-area: stats;
  }
  .image {
    grid-area: image;
    background: url("https://i.pinimg.com/originals/67/48/e2/6748e2f29ea1cafaff9d9456d221bcdc.jpg");
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
  }
  .text {
    grid-area: text;
    margin:20px;
  }
  .text .date {
    color:grey;
    font-size: 13px;
    font-style: italic;
  }
  .text p {
    color: grey;
    font-size: 15px;
    font-weight: 300;
  }

  .text p i {
    font-size: 12px;
    color: white;
    font-weight: bold;
    margin: 20px 20px;
    padding: 20px 20px;
  }

  .text h2 {
    margin:0px;
    font-size: 28px;
  }
  .stats {
    grid-area: stats;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: #202020;

    margin: 15px;
    padding: 5px;
  }
  
  .stats .stat {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  
    color: white;
    padding: 0px;
  }
  .card:hover {
    transform: scale(1.15);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
  }
  .card {
    transition: 0.5s ease;
    cursor: pointer;
    margin: 30px 0px;
  }